@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wmde-markdown-var.w-md-editor {
  height: 100% !important;
}

.w-md-editor-toolbar {
  position: sticky;
  top: 15px;
  left: 0;
  z-index: 2;
}

:focus-visible {
  outline: none;
}
